<%- include('../partials/_headerError.ejs') %>
<main class="error-container">
  <div>
    <div class="error-text">
      <p>What a bother, this page no longer exists.</p>
      <p>Totoro will keep you company while you sort out your next move.</p>
    </div>
    <div class="error-404">
      <span>5</span>
      <img src="/img/totoro404.webp" alt="">
      <span>0</span>
    </div>
  </div>
</main>