<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studio Ghibli</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <header>
    <img src="/img/ghibli.webp" alt="Logo of studio Ghibli" class="logo">
    <nav>
      <a href="/">Home</a>
      <a href="#about">About</a>
      <a href="#movie">Movie</a>
    </nav>
  </header>
  <main>
    <div class="container__banner"></div>