@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  list-style-type: none;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  height: calc(100px + 2rem);
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);
}

.logo {
  width: 200px;
}

nav {
  display: flex;
  align-items: flex-end;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  margin-left: 2rem;
  font-size: 1.2rem;
}
a:hover {
  color: rgb(136, 84, 84);
}
nav a:nth-child(n + 2) {
  color: rgb(136, 136, 136);
}

.container__banner {
  height: 45rem;
  background-position: center;
  background-position-x: 75%;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/banner.webp);
  margin-bottom: 4rem;
}

.title__img h1{
  position: absolute;
  text-transform: uppercase;
  font-size: clamp(1rem, 4.5vw + 1rem, 7rem);
  font-family: 'Arial Black', sans-serif;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px rgb(185, 185, 185);
  text-align: center;
  z-index: -1;
  pointer-events: none;
}

/* About */
.container__about {
  display: flex;
  margin-bottom: 5rem;
}

.title__img--about {
  width: 45vw;
}
.title__img--about img {
  margin-top: 4rem;
  max-width: 100%;
  height: auto;
}

.title__img--about h1 {
  margin: .3rem 2rem 0;
}

.text--about {
  text-align: justify;
  align-self: center;
  padding: 0 5rem;
  max-width: 55%;
}

/* Movie */
.container__movie {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
}
.title__img--movie h1 {
  padding-left: 15rem;
  padding-right: .1rem;
  white-space: nowrap;
}
.title__img--movie {
  grid-area: 1 / 3 / 2 / 4;
}

.title__img--movie img {
  margin: 2rem 0 3rem;
  max-width: 100%;
  height: auto;
}

/* Movie card */
.container__movie-card ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.container__movie-card li{
  min-width: calc(25% - 1rem);
  margin-bottom: 2rem;
}
.container__movie-card img {
  max-width: 250px;
  border-radius: 10px;
}
.container__movie-card h3 {
  font-weight: 700;
  margin-bottom: .2rem;
}
.container__card {
  margin: 0 auto;
  max-width: 250px;
}
.movie-card__information {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  p {
    font-size: .9rem;
  }
}
.movie-card__rating {
  display: flex;
  font-size: .9rem;
}
.movie-card__rating--img {
  width: .9rem;
  margin-right: .2rem;
}

/* Footer */
footer {
  border-top: 1px solid black;
}
.container__footer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem 4rem 0;
  background-position-x: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-image: url(/img/totoro.webp);
  background-size: 300px;
}
.footer__section {
  display: flex;
  margin-top: 2rem;
  max-width: 80%;
  justify-content: space-between;
}
.footer__column li {
  margin-bottom: 1.2rem;
}
.footer__column h4 {
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.footer__column--about {
  max-width: calc(100% / 3);
  text-align: justify;
}
.footer__column--contact {
  max-width: calc(100% / 3);
}
.footer__column--follow {
  max-width: calc(100% / 3);
  a {
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-weight: 700;
  }
}

/* Form */
.signup-container {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  margin-bottom: 1rem;
}

.signup-container p {
  font-size: 1rem;
}

.signup-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

.signup-form button {
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.signup-form button:hover {
  background-color: #f0f0f0;
}

.footer__copyright {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  height: 3rem;
}